.header {
  display:flex;
  flex-direction: column;
  position:absolute;
  color: white;
  pointer-events: none;
  height: 100%;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 800px;
  text-align: center;
}
.pic {
  background: url('/assets/simon.png') no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
  /* border: 1px rgba(196, 196, 196, 0.283) solid; */
  box-shadow: -4px 4px 8px 0 rgba(0, 0, 0, 0.479);
}
#headerLogo {
  margin-top: 20%;
  height: 150px;
}