.header {
  display:flex;
  flex-direction: column;
  position:absolute;
  color: white;
  pointer-events: none;
  height: 100%;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 800px;
  text-align: center;
}
.pic {
  background: url('/assets/simon.png') no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
  /* border: 1px rgba(196, 196, 196, 0.283) solid; */
  box-shadow: -4px 4px 8px 0 rgba(0, 0, 0, 0.479);
}
#headerLogo {
  margin-top: 15%;
  height: 200px;
}

.contactLogos {
  height: 50px;
  width: 50px;
}

#about {
  background: url('/assets/BGfinal.png') no-repeat;
  background-size: 100% 100%;
  /* background-image: -webkit-linear-gradient(280deg, black  50%, rgb(11, 11, 11)  70%); */
  color:rgb(255, 255, 255);
  height: 600px;
}

#about > * {
  padding: 10px;
}

h1 {
  font-family: 'Lato', 'sans-serif' !important;
  font-weight: 700;
}

h2 {
  font-family: 'Open Sans', 'sans-serif' !important;
  font-weight: 600;
  color: rgb(213, 213, 213)
}

.header > * {
  padding: 10px;
}

.aLink {
  color:white;
}

.aLink:hover {
  text-decoration: none;
  color:black;
}


