.wow {
  visibility: hidden;
}

body {
  margin: 0 !important;
  min-width: 100% !important;
  /* background-color: rgb(242, 241, 238); */
  text-align: center;
}

@media (min-width: 700px){
  html, body {
    /* width: 100%; */
    overflow-x: hidden !important; 
  }
}

.particlesHeader {
  background: #16222A !important; 
  background: -webkit-linear-gradient(to right, #3A6073, #16222A) !important;
  background: linear-gradient(to bottom, #16222A ,rgb(0, 0, 0) 40%) !important; 
  height: 100vh;
}


#learnMore {
  background: #2ACFA6;
  padding: 1rem;
  font-size: 1.4rem;
  pointer-events: auto;
  border:none;
  border-radius: 5px;
  border-bottom: 5px solid rgb(34, 116, 96);
  margin-top: 20px;
  font-family: "Lato";
  font-weight: 500;
  color:white;
  text-shadow: 1px 4px 20px rgb(0, 0, 0);
  /* transition: 1s ease; */
}
#learnMore:hover {
  background: rgb(106, 230, 199);
  /* border-bottom: 5px solid rgb(255, 140, 0); */
  cursor: pointer;
  /* color: rgb(255, 255, 255); */
  /* margin-top: 10px;
  padding-top: 10px; */
  border-bottom: 3px solid rgb(34, 116, 96);
  transform: translateY(4px);
}

#learnMore:active, 
#learnMore:focus, 
#learnMore.active {
  outline:none;
  box-shadow:none;
}

#picName {
  display:flex;
}

#headerDescription {
  font-weight: 900;
}

.textShadow {
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.253);
}

.lato { 
  font-family: 'Lato' !important;
}

.icon {
  height: 180px;
  width: 180px;
}

@media (max-width: 700px) {
  .typeHeader {
    font-size: 2vh;
  }
  html, body {
    width: 100%;
    overflow-x: hidden;
  }
}