.wow {
  visibility: hidden;
}
body {
  /* overflow-x: hidden ; */
  /* background-color: rgb(242, 241, 238); */
  text-align: center;
}

.particlesHeader {
  background: #16222A !important; 
  background: -webkit-linear-gradient(to right, #3A6073, #16222A) !important;
  background: linear-gradient(to bottom, #16222A ,rgb(0, 0, 0) 40%) !important; 
  
}

#learnMore {
  background: rgb(255, 230, 0);
  padding: 15px;
  font-size: 25px;
  pointer-events: auto;
  border:none;
  border-radius: 15px;
  border-bottom: 5px solid rgb(255, 174, 0);
  margin-top: 20px;
  font-family: "Lato";
  font-weight: 500;
  color:white;
  text-shadow: 1px 4px 20px rgb(0, 0, 0);
  /* transition: 1s ease; */
}
#learnMore:hover {
  background: rgb(255, 235, 101);
  /* border-bottom: 5px solid rgb(255, 140, 0); */
  cursor: pointer;
  /* color: rgb(255, 255, 255); */
  /* margin-top: 10px;
  padding-top: 10px; */
  border-bottom: 3px solid rgb(255, 174, 0);
  transform: translateY(4px);
}

#learnMore:active, 
#learnMore:focus, 
#learnMore.active {
  outline:none;
  box-shadow:none;
}
#picName {
  display:flex;
}

#headerDescription {
  font-weight: 900;
}

.underline {
  height: 3px;
  width: 300px;
  background: white;
  margin: 0 auto;
}