.logo {
  background: url('/assets/myLogo.png') no-repeat;
  background-size: cover;
  height: 60px;
  width: 60px;
}

.logo:hover {
  cursor: pointer;
}

.navbar {
  /* background-color: transparent !important; */
  /* box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  background-color: white !important;
  /* border-bottom: 2px solid rgb(255, 0, 0); */
}
.sticky {
  top: 0px !important;
  left: 0px;
  z-index: 999;
  position: sticky !important;
}
.nav-link {
  margin-left: 15px;
  margin-right: 15px; 
  border: 1px transparent solid;
  font-size: 20px;
  font-weight: 100;
}

.nav-link:hover, .nav-link:focus {
  /* border-top: 1px solid red; */
  border-bottom: 2px solid #2ACFA6;
  cursor: pointer;
}

.active {
  color: black;
  border-bottom: 2px solid #2ACFA6;
  cursor: pointer;
}