.work {
  width: 100vw;
  height: 100%;
  border: 1px solid rgba(187, 187, 187, 0.267); 
  display:flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.description {
  /* max-width: 500px; */
  margin: 20px;
  width: 45vw;
}

.workSS {
  height: 30vw;
  width: 40vw;
  /* border-radius: 10px; */
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.404), -3px 5px 10px 0 rgba(0, 0, 0, 0.473);
}

.workSS:hover {
  /* filter: brightness(.8) */
}

.hoverLink {
  /* position: absolute; */
  height: 100%;
  width: 100%;
}
.hoverLink:hover {
  opacity: 1;
}

.portHeader {
  color: rgb(31, 30, 30);
  font-family: 'Lato' !important;
  font-weight: '900';
}

.line {
  height: 1px;
  width: 200px;
  background: black;
  margin: 0 auto;
  margin-bottom: 15px;
}

.visitSite {
  background:white;
  border: 2px solid black;
  color: black;
  padding: 10px;
  font-size: 15px;
}

.visitSite:hover {
  color: rgb(255, 255, 255);
  background: black;
  text-decoration: none;
}


#portfolioHeader {
  color: #2ACFA6;
}

.carousel-control-prev {
  left: -60px;
}

.carousel-control-prev-icon {
  background-image: url('/assets/arrow.png'); 
  transform: rotate(270deg)
}

.carousel-control-next {
  right: -60px;
}

.carousel-control-next-icon {
  background-image: url('/assets/arrow.png'); 
  transform: rotate(90deg)
}

/* .carousel-caption {
  top: 300px;
  color:black;
  z-index: 99;
  position: absolute;
} */
.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  color:black;
  top: 5px;
}

.mainDescription {
  font-size: 15px;
  margin-bottom: 30px;
}

@media (max-width:700px){
  #portfolio{
    margin-top: 5vh;
  }

  .work { 
    flex-direction: column;
    height: 100%;
  }
  
  .description {
    width: 90vw;
  }

  .workSS {
    width: 72vw;
    height: 50vw;
  }

  .visitSite {
    margin: 50px;
  }

  .legacyLearning {
    flex-direction: column-reverse;
  }

  .partyStarty {
    flex-direction: column-reverse;
  }
}